.forgetRight {
    margin: 20px 0px 20px 0;
    padding: 10px 0;
}

.forgetRight1 {
    border-bottom: 1px solid black;
    margin-bottom: 0;
}

.forgetRight2 {
    margin-top: 0;
}

.forgetRight2 p {
    margin: 30px 0 35px 0;
}

.forgetRight2 input{
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.forgetRight2 a {
    font-size: large;
    border: none;
    border-radius: 10px;
    background-color:  #6d6e6d;
    color: white;
    padding: 17px;
    margin-right: 5px;
    cursor: pointer;
}

.forgetRight2 a:hover {
    border: 2px solid black;
}


.forgetRight2 button {
    font-size: large;
    border: none;
    border-radius: 10px;
    background-color: #4ba2c2;
    color: white;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
}

.forgetRight2 button:hover{
    border: 2px solid black;
}

.forgetRight3{
    width: 50%;
    height: 30%;
}

.forgetRight3 h2{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

div.forgetContainer2 {
    width: 30vw;
}

@media screen and (max-width:1310px) {

    .aside1,
    .aside2 {
        justify-content: start;
        margin: 30px 10px;
    }


    .aside3 {
        margin: 10px 15px 10px 0px;
    }


    div.container2 {
        width: 60vw;
    }

}